html, body {
  height: 100%;
  background-color: #acd3e6;
}

body {
  display: flex;
  align-items: center;
}

.card-header {
  background-color: #136AA9;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, 0.34);
}

.card-footer {
  background-color: rgba(255, 255, 255, 0.34);
}
